/*Adding the base styles of skell*/
@import url(base/skel.css);
@import url(base/style.css);
@import url(base/style-xlarge.css);
@import url(base/style-xlarge.css);
/* line 1, ../sass/base/partials/form.scss */
.form-wrapper {
  margin-bottom: 15px;
}
/* line 3, ../sass/base/partials/form.scss */
.form-wrapper .filter-guidelines {
  margin-top: 15px;
}
/* line 5, ../sass/base/partials/form.scss */
.form-wrapper .filter-guidelines ul {
  padding-left: 0;
}
/* line 7, ../sass/base/partials/form.scss */
.form-wrapper .filter-guidelines ul li {
  list-style: none;
  font-size: 1em;
}

/* line 15, ../sass/base/partials/form.scss */
.links.inline {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}
/* line 19, ../sass/base/partials/form.scss */
.links.inline li {
  display: inline-block;
}
/* line 23, ../sass/base/partials/form.scss */
.links.inline li.node-readmore a, .links.inline li.comment-add a {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #323037;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.15em;
  line-height: 3.25em;
  padding: 0 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 48, ../sass/base/partials/form.scss */
.links.inline li.node-readmore a:hover, .links.inline li.comment-add a:hover {
  background-color: #3e3c45;
}
/* line 52, ../sass/base/partials/form.scss */
.links.inline li.node-readmore:first-child, .links.inline li.comment-add:first-child {
  padding-left: 0;
}

/* line 1, ../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region {
  margin-bottom: 20px;
}
/* line 3, ../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region ul {
  padding: 0;
  list-style: none;
  margin: 0;
  color: #888;
  padding: 5px;
}
/* line 9, ../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region ul li {
  display: inline-block;
}
/* line 14, ../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region ul li a {
  color: #888;
  text-decoration: none;
}

/* line 1, ../sass/base/partials/tags.scss */
.tags-holder {
  margin: 0 0 2em 0;
}
/* line 4, ../sass/base/partials/tags.scss */
.tags-holder > div:first-child {
  display: inline-block;
  margin-right: 10px;
}
/* line 8, ../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) {
  display: inline-block;
}
/* line 10, ../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div {
  display: inline-block;
}
/* line 12, ../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a {
  padding: 5px 10px;
  border-radius: 4px;
  background: #DFE0DF;
  color: #666;
  text-decoration: none;
  font-size: 0.99999em;
  margin-right: 5px;
  position: relative;
}
/* line 21, ../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a:before {
  content: '\f02c';
  font-family: 'FontAwesome';
  font-size: 0.7899999em;
  color: #999;
  margin-right: 5px;
  display: inline-block;
}
/* line 29, ../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a:hover {
  background: #f32853;
  color: #fff;
}
/* line 32, ../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a:hover:before {
  color: #fff;
}
