/* line 1, ../../../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region {
  margin-bottom: 20px;
}
/* line 3, ../../../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region ul {
  padding: 0;
  list-style: none;
  margin: 0;
  color: #888;
  padding: 5px;
}
/* line 9, ../../../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region ul li {
  display: inline-block;
}
/* line 14, ../../../sass/base/partials/admin.scss */
#block-spatial-theme-local-tasks.contextual-region ul li a {
  color: #888;
  text-decoration: none;
}
