/* line 1, ../../../sass/base/partials/form.scss */
.form-wrapper {
  margin-bottom: 15px;
}
/* line 3, ../../../sass/base/partials/form.scss */
.form-wrapper .filter-guidelines {
  margin-top: 15px;
}
/* line 5, ../../../sass/base/partials/form.scss */
.form-wrapper .filter-guidelines ul {
  padding-left: 0;
}
/* line 7, ../../../sass/base/partials/form.scss */
.form-wrapper .filter-guidelines ul li {
  list-style: none;
  font-size: 1em;
}

/* line 15, ../../../sass/base/partials/form.scss */
.links.inline {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}
/* line 19, ../../../sass/base/partials/form.scss */
.links.inline li {
  display: inline-block;
}
/* line 23, ../../../sass/base/partials/form.scss */
.links.inline li.node-readmore a, .links.inline li.comment-add a {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #323037;
  border-radius: 4px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.15em;
  line-height: 3.25em;
  padding: 0 2.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 48, ../../../sass/base/partials/form.scss */
.links.inline li.node-readmore a:hover, .links.inline li.comment-add a:hover {
  background-color: #3e3c45;
}
/* line 52, ../../../sass/base/partials/form.scss */
.links.inline li.node-readmore:first-child, .links.inline li.comment-add:first-child {
  padding-left: 0;
}
