/* line 1, ../../../sass/base/partials/tags.scss */
.tags-holder {
  margin: 0 0 2em 0;
}
/* line 4, ../../../sass/base/partials/tags.scss */
.tags-holder > div:first-child {
  display: inline-block;
  margin-right: 10px;
}
/* line 8, ../../../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) {
  display: inline-block;
}
/* line 10, ../../../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div {
  display: inline-block;
}
/* line 12, ../../../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a {
  padding: 5px 10px;
  border-radius: 4px;
  background: #DFE0DF;
  color: #666;
  text-decoration: none;
  font-size: 0.99999em;
  margin-right: 5px;
  position: relative;
}
/* line 21, ../../../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a:before {
  content: '\f02c';
  font-family: 'FontAwesome';
  font-size: 0.7899999em;
  color: #999;
  margin-right: 5px;
  display: inline-block;
}
/* line 29, ../../../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a:hover {
  background: #f32853;
  color: #fff;
}
/* line 32, ../../../sass/base/partials/tags.scss */
.tags-holder > div:nth-child(2) > div a:hover:before {
  color: #fff;
}
