
<!-- Banner -->
<section id="banner" {% if page.background_url %} style="background-image: url('{{ page.background_url }}');" {% endif %}>
  <div class="container main-menu-grid">
    <div class="navbar-header">
      {% if site_logo %}
        <a href="{{ path('<front>') }}" class="navbar-brand" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo-front-pos" />
        </a>
      {% endif %}
      <h1>
        <strong><a href="{{ path('<front>') }}" class="navbar-brand site-name-front-pos">{{ site_name }}</a></strong>
        {% if site_slogan %}
          {{ site_slogan }}
        {% endif %}
      </h1>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      {{ main_nav }}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <h2>
          {% if page.welcome_block_article_title %}
            {{ page.welcome_block_article_title }}
          {% else %}
            {{ site_name }}
          {% endif %}
        </h2>
        <p>
          {% if page.welcome_block_article_body %}
            {{ page.welcome_block_article_body }}
          {% else %}
            {{ site_slogan }}
          {% endif %}
        </p>
        <ul class="actions">
          <li><a href="node/{{ page.welcome_block_article_id }}" class="button special big">Read More</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col col-xs-12 front-wel-text">
        <header class="major">
          <h2>{{ welcome_text }}</h2>
        </header>
      </div>
      <div class="col-sm-6 col col-xs-12">
        <p>{{ welcome_sub_text }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
{% if page.gallery_section is not empty %}
  <section id="two" class="wrapper style2 special">
    <div class="container">
      {{ page.gallery_section }}
    </div>
  </section>
{% endif %}

<!-- Three -->
{% if page.testimonials_section is not empty %}
  <section id="three" class="wrapper style1">
    <div class="container">
      {{ page.testimonials_section }}
    </div>
  </section>
{% endif %}

<!-- Four -->
{% if page.contact_form is not empty %}
  <section id="four" class="wrapper style3 special">
    <div class="container">
      <header class="major">
        <h2>Contact Us</h2>
      </header>
      {{ page.contact_form }}
    </div>
  </section>
{% endif %}

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li>
        <a href="{{ spatial_theme_facebook }}" class="icon fa-facebook"></a>
      </li>
      <li>
        <a href="{{ spatial_theme_twitter }}" class="icon fa-twitter"></a>
      </li>
      <li>
        <a href="{{ spatial_theme_pinterest }}" class="icon fa-instagram"></a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; {{ site_name }}</li>
      <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
      <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
      <li>Theme: <a href="http://zyxware.com">Zyxware</a></li>
    </ul>
  </div>
</footer>
