<!-- Header -->
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      {% if site_logo %}
        <a href="{{ path('<front>') }}" class="navbar-brand" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo-front-pos" />
        </a>
      {% endif %}
      <h1>
        <strong><a href="{{ path('<front>') }}" class="navbar-brand site-name-front-pos">{{ site_name }}</a></strong>
        {% if site_slogan %}
          {{ site_slogan }}
        {% endif %}
      </h1>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

         {{ main_nav }}

    </div>
  </div>
</nav>

<!-- Main -->
<section id="main" class="wrapper container">
  <div class="container">
   {{ page.content }}
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper style3 special">
  <div class="container">
    <header class="major">
      <h2>Aenean elementum ligula</h2>
      <p>Feugiat sed lorem ipsum magna</p>
    </header>
    <ul class="actions">
      <li><a href="#" class="button special big">Get in touch</a></li>
    </ul>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li>
        <a href="{{ spatial_theme_facebook }}" class="icon fa-facebook"></a>
      </li>
      <li>
        <a href="{{ spatial_theme_twitter }}" class="icon fa-twitter"></a>
      </li>
      <li>
        <a href="{{ spatial_theme_pinterest }}" class="icon fa-instagram"></a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; {{ site_name }}</li>
      <li>Design: <a href="http://templated.co">TEMPLATED</a></li>
      <li>Images: <a href="http://unsplash.com">Unsplash</a></li>
      <li>Theme: <a href="http://zyxware.com">Zyxware</a></li>
    </ul>
  </div>
</footer>
