#block-spatial-theme-local-tasks.contextual-region{
	margin-bottom: 20px;
	ul {
		padding: 0;
		list-style: none;
		margin: 0;
		color: #888;
		padding: 5px;
		li {
			display: inline-block;
			&:last-child {

			}
			a {
				color: #888;
				text-decoration: none;

			}
		}
	}
}