.form-wrapper {
	margin-bottom: 15px;
	.filter-guidelines {
		margin-top: 15px;
		ul {
			padding-left: 0;
			li {
				list-style: none;
				font-size: 1em;
			}
		}
	}
}

.links.inline {
	display: inline-block;
	margin-left: 0;
	padding-left: 0;
	li {
		display: inline-block;
	}
	li.node-readmore, li.comment-add {
		a {
			-moz-appearance: none;
		    -webkit-appearance: none;
		    -o-appearance: none;
		    -ms-appearance: none;
		    appearance: none;
		    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		    background-color: #323037;
		    border-radius: 4px;
		    border: 0;
		    color: #ffffff !important;
		    cursor: pointer;
		    display: inline-block;
		    font-weight: 700;
		    height: 3.15em;
		    line-height: 3.25em;
		    padding: 0 2.2em;
		    text-align: center;
		    text-decoration: none;
		    text-transform: uppercase;
		    white-space: nowrap;
		    &:hover {
		    	background-color: #3e3c45;
		    }
		}
		&:first-child {
			padding-left: 0;
		}
	}
}

