.tags-holder {
	margin: 0 0 2em 0;
	> div { 
		&:first-child { 
	display: inline-block;
	margin-right:10px;
		}
		&:nth-child(2) { 
		display: inline-block;
			> div {
				display: inline-block;
				a {
					padding: 5px 10px;
				    border-radius: 4px;
				    background: #DFE0DF;
				    color: #666;
				    text-decoration: none;
				    font-size: 0.99999em;
				    margin-right: 5px;
				    position: relative;
				    &:before {
				    	content: '\f02c';
				    	font-family: 'FontAwesome';
				    	font-size: 0.7899999em;
				    	color: #999;
				    	margin-right: 5px;
				    	display: inline-block;
				    }
				    &:hover {
				    	background: #f32853;
				    	color: #fff;
				    	&:before {
				    		color: #fff;
				    	}
				    }
				}
			}
		}
	}
}
